@model IEnumerable<ImageAllViewModel>
@{
    ViewBag.Title = "All Images";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!this.Model.Any())
{
    <div class="container text-center">
        <h4>No images to approve!</h4>
    </div>
}
else
{
	<div class="row">
		@foreach (var image in Model)
		{
			<div class="col-md-4 mb-4 mt-4">
				<div class="card col-md-12" style="background-color: whitesmoke">
					<img class="card-img-top" src="@image.ImageUrl" alt="Image">
					<div class="card-body text-center">
						<p class="card-text">@image.Description</p>
						<div class="row mt-3">
							<p class="card-text fw-bold">@image.Author!.UserName</p>
							<div class="card-text">
								<a asp-area="Admin" asp-controller="Image" asp-action="Approve" asp-route-imageId="@image.Id" class="btn btn-outline-info">Approve</a>
								<a asp-area="Admin" asp-controller="Image" asp-action="Reject" asp-route-imageId="@image.Id" class="btn btn-outline-danger">Reject</a>
							</div>
						</div>
						</div>
					</div>
			</div>
		}
	</div>
}