@using SportsNet.Web.Infrastructure.Extensions;
@model PostDetailsViewModel

<article>
	<div class="card-header">
		<div class="row">
			<h3 class="col-6 ">
				<a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId" asp-route-information="@Model.Category.Name.Replace(" ", "-")">@Model.Category.Name</a>
			</h3>
			<div style="color: #20247b" class="fw-bold text-end col-6">
				Upvotes :
				<h4 id="votesCount" style="color: #20247b" class="fw-bold">@Model.VotesCount</h4>
			</div>
		</div>
		<div>
			<h4><strong>Author:</strong> @Model.Author.UserName</h4>
			<p><strong>Created On:</strong> @Model.CreatedOn.ToString("dd/MM/yyyy HH:mm")</p>
			@if (!Model.ModifiedOn.Equals(null))
			{
				<p class="mb-1"><strong>Modified On:</strong> @Model.ModifiedOn.Value.AddHours(3).ToString("dd/MM/yyyy HH:mm")</p>
			}
		</div>
		@if (User.Identity?.IsAuthenticated ?? false)
		{
			<div class="row">
				<div class="float-end">
					<form method="post">
						<button type="submit" asp-controller="Vote"
								asp-action="VoteConfirmation"
								asp-route-id="@Model.Id.ToString()"
								class="btn btn-info">
							Upvote👍
						</button>
					</form>
				</div>
			</div>
		}
	</div>
	<hr />
	<h2>@Model.Title</h2>
	<div class="card-body">
		<p class="fs-4">@Model.Content</p>
		<a class="btn btn-primary disabled">@Model.Type</a>
		<div class="float-end">
			@if (User.Identity?.IsAuthenticated ?? false)
			{
				@if (Model.Author.UserName == this.User.Identity.Name || this.User.IsAdmin())
				{
					<a asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id"
					   class="btn btn-info">Edit</a>
					<a asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id"
					   class="btn btn-danger">Delete</a>
				}
			}
		</div>
	</div>
</article>

@*To-Do ajax call
ReferenceError: SendVote is not defined
@section Scripts
	{
	<script>
		function SendVote(postId, isUpVote) {
			var json = { postId: postId, isUpVote: isUpVote };
			var token = $("#votesForm input[name=__RequestVerificationToken]").val();
			$.ajax({
				type: "POST",
				dataType: "json",
				data: JSON.stringify(json),
				contentType: "application/json; charset=utf-8",
				url: "/api/vote",
				headers: { 'X-CSRF-TOKEN': token },
				success: function (data) {
					$("#votesCount").html(data.votesCount);
				}
			});
		}
	</script>
}*@
