@model PostDetailsViewModel
@{
    ViewBag.Title = "Delete Post";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mb-4 shadow">
                <div class="card-body">
                    <h4 class="card-title">Post Details</h4>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Id</dt>
                        <dd class="col-sm-8">@Model.Id</dd>

                        <dt class="col-sm-4">Category</dt>
                        <dd class="col-sm-8">@Model.Category.Name</dd>

                        <dt class="col-sm-4">Title</dt>
                        <dd class="col-sm-8">@Model.Title</dd>

                        <dt class="col-sm-4">Content</dt>
                        <dd class="col-sm-8">@Model.Content</dd>

                        <dt class="col-sm-4">Type</dt>
                        <dd class="col-sm-8">@Model.Type</dd>

                        <dt class="col-sm-4">Votes Count</dt>
                        <dd class="col-sm-8">@Model.VotesCount</dd>

                        <dt class="col-sm-4">Comments Count</dt>
                        <dd class="col-sm-8">@Model.Comments.Count()</dd>

                        <dt class="col-sm-4">Author</dt>
                        <dd class="col-sm-8">@Model.Author.UserName</dd>

                        <dt class="col-sm-4">Created On</dt>
                        <dd class="col-sm-8">@Model.CreatedOn</dd>

                        <dt class="col-sm-4">Modified On</dt>
                        <dd class="col-sm-8">@Model.ModifiedOn</dd>

                        <div class="card-body text-center">
                            <form method="post">
                                <button asp-controller="Post"
                                        asp-action="DeletePost"
                                        asp-route-id="@Model.Id"
                                        class="btn btn-outline-danger btn-lg">
                                    Yes
                                </button>
                                <a asp-controller="Post"
                                   asp-action="Details"
                                   asp-route-id="@Model.Id"
                                   class="btn btn-outline-primary btn-lg">No</a>
                            </form>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>