@model PostDetailsViewModel

@{
    ViewBag.Title = "Post Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <partial name="_PostInfoPartial" model="@Model"/>
            
            <hr />
            <div class="mt-4" style="background-color: ghostwhite">
                <div class="row">
                    <h4 class="text-center fw-bold">Comments</h4>
                </div>
                @if (Model.Comments.Any())
                {
                    <h3 class="mb-3">Comments</h3>
                    <ul class="list-group">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong>@Model.Author.UserName</strong>
                                        <span class="text-muted small">@comment.CreatedOn.ToString("dd/MM/yyyy HH:mm")</span>
                                    </div>
                                    <div>
                                        <p class="mb-0">@comment.Content</p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <h3 class="p-3">No comments yet...</h3>
                }
            </div>

            <div class="mt-4 border-1">
                <div class="card p-2 text-center" style="background-color: ghostwhite">
                    <h3 class="mb-3 text-center">Leave a comment</h3>
                    <form method="post">
                        <div class="form-group">
                            <textarea class="form-control" id="TextBox" name="Content" rows="4"  placeholder="Your comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary m-3">Submit Comment</button>
                        @if (!this.User.Identity?.IsAuthenticated ?? false)
                        {
                            <p>You have to <a href="/Identity/Account/Login">Log in </a>to post Comments!</p>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

